<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>PRUEBAS</h1>
        <h2>******{{ mensaje}}******</h2>
        <input type="text" v-model="nuevaFruta"><button v-on:click="agregar">Agregar</button>
        
        <ul>
            <!-- <li v-for="fruta in frutas"> {{fruta.nombre}} - 
                <small>{{fruta.cantidad > 0 ? fruta.cantidad :fruta.cantidad + " sin stock"}}</small>
            </li> -->
            <li v-for="fruta in frutas">
                <input type="number" v-model="fruta.cantidad">
                {{fruta.nombre}} - 
                <button @click="fruta.cantidad++">+</button>
                <small v-if="fruta.cantidad > 0">{{fruta.cantidad}}</small>
                <small v-else>0 - Sin Stock</small>
            </li>
        </ul>
        ToTAL: {{ calculoTotal }}

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app={
            data(){
                return{
                    mensaje:'Mensaje ',
                    frutas:[
                        {
                        cantidad : 10,
                        nombre: 'manzana'
                        },
                        {
                            cantidad : 0,
                            nombre : 'pera'
                        },
                        {
                            cantidad : 5,
                            nombre : 'platano'
                        }
                    ],
                    nuevaFruta : ''
                }
            },
            methods:{
                agregar(){
                    this.frutas.push({nombre:this.nuevaFruta, cantidad:0});
                    this.nuevaFruta=''
                }
            },
            computed:{
                calculoTotal(){
                    let total=0;
                    for (fruta of this.frutas){
                        total += fruta.cantidad
                    }
                    
                    return total;
                }
            }
        }
        Vue.createApp(app).mount('#app')
    </script>
</body>
</html>